.grid{
    display: grid;
    grid-template-columns:  300px auto ;
    grid-template-rows: 100px minmax(250px) 200px;
    grid-template-areas: 
        'Header Header'
        'Leftbar Main'
        'Footer Footer';


}
.Content{
    background-color: cadetblue ;
    border: 4px solid darkgrey;
    box-sizing: border-box;
    padding: 10px;
     
}
.Header{
    grid-area: Header;

}
.Footer{
    grid-area: Footer;

}
.Leftbar{
    grid-area: Leftbar;

}
.Main{
    grid-area: Main;

}
